body{
	/*background-color: #3E5C76;
	color: #3E5C76;
	background: #403A3E;  /* fallback for old browsers */
/*background: -webkitlinear-gradient(to right, #BE5869, #403A3E);  /* Chrome 10-25, Safari 5.1-6 */
/*background: linear-gradient(to right, #BE5869, #403A3E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-image: url('../images/background.jpg');

}

html,body{
	height: 100%;
}

.main-content{
	min-height: 100%;
	height: 100%;
	margin-bottom: 0;
}

.jumbotron{
	margin-top: 40px;
	min-height: 80%;
	height: 80%;
	overflow: auto;
	background: #8e9eab;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #eef2f3, #8e9eab, transparent);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #eef2f3, #8e9eab, transparent); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.hfnt{
	margin-top: 0px;
	font-family: 'Russo One', sans-serif;
	font-size: 50px;
	color: #ffcc33;
	font-weight: bold;
}

.qtsection{
	margin-top: 20px;
	height: 20%;
}

.qsrow, .timrow{
	height: 50%;
	font-size: 25px;
}

.ansrow{
	margin-top: 20px;
}

.catbtn{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	width: 300px;
}

.optrow{
	text-align: center;
	width: 50%;
	margin: auto;
	border-radius: 5px;
}

.optrow:hover {
	background-color: #3d72b4;
	cursor: pointer;
}

.ansimg{
	height: 200px;
	width: 300px;
}