/*Setting the background image and font color*/

body{
	background-image: url('../images/background.jpg');
	background-size: 100% 100%;
	color: #FEFFEA;	
}


/*Setting the Minimum height for the content area*/

html,body{
	height: 100%;
}

.cntr{
	min-height: 100%;
	height: 100%;
	overflow: auto;
}

.main-content{
	min-height: 70%;
	height: 70%;
	margin: 50px auto;

}

/*style the header*/

.hfnt{
	margin: 10px 0 0 0;
	font-family: 'Mogra', cursive;
	font-size: 60px;
	font-weight: bold;
	color: #FEFFEA;	
}

/*style the Category buttons in the Start page*/
.catbtn{
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 40px;
	width: 50%;
	background: none;
	font-weight: bold;
}

.catbtn:hover{
	background: #FEFFEA;
}


/*style the Time text*/
.timrow{
	font-size: 35px;
}

.countdn{
	font-weight: bolder;
	color: red;
}

/*style the question text*/
.qsrow{
	margin-top: 40px;
	line-height: 1.5;
	font-size: 35px;
	font-weight: bolder;
	color: black;
	background-color: #E2E8CE;
	border-radius: 5px;
}

/**set answer section*/
.ansrow{
	width: 70%;
	margin-top: 20px;
}


/*style the options displayed*/
.optrow{
	text-align: center;
	width: 50%;
	margin: 10px auto;
	font-size: 35px;
	border-radius: 5px;
}

.optrow:hover {
	background-color: #E2E8CE;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

/*style the answer page*/

.ansbk{
	margin-top: 20px;
	background-color: #E2E8CE;
	color: black;	
	border-radius: 5px;
	font-size: 35px;
}

.anstxt{
	font-size: 40px;
}

/*style the scores page*/
.correct{
	color: #5DBA46;
}

.incorrect{
	color: red;
}

.unanswered{
	color: #FFFD77;
}

.agnbtn{
	background: #FEFFEA;
	color: black;
}

/*Change width and background for footer section*/
.footer{
	width: 100%;
	padding-top: 5px;
}
